@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600&display=swap");
/* font-family: "Karla", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #000000;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.app h1 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

#category {
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto 15px;
}

.quiz h2 {
  font-size: 18px;
  color: #f72798;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}

.btn {
  background: #fff;
  color: #000000;
  font-weight: 500;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
}

.btn:hover:not([disabled]) {
  background: #f72798;
  color: #eaeaea;
}

.btn:disabled {
  cursor: no-drop;
}

.incorrect {
  background: #fdafbd;
}

.correct {
  background: #ddf2ba;
}

#next-btn {
  background: #f72798;
  color: #eaeaea;
  font-weight: 600;
  width: 150px;
  border: none;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}

#next-btn:hover {
  color: #f72798;
  background: #fff;
}

@media screen and (max-width: 400px) {
  .app h1 {
    text-align: center;
  }
  #category {
    text-align: center;
  }
  .quiz h2 {
    font-size: 15px;
    font-weight: 500;
  }
}
